{% extends 'base.html' %}

{% block title %}URL LIST{% endblock %}

{% block content %}
<div class="content">
    <div class="content_div">
        <div class="h4 pb-2 mb-4 text-primary border-bottom border-primary">
            URL LIST
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Master</th>
                    <th scope="col">Short URL</th>
                    <th scope="col">Source URL</th>
                </tr>
            </thead>
            <tbody>
            
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}