html, body {
    height: 100%;
    margin: 0;
}
.main-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content_div {
    width: 80%;
}
.submit-btn {
    width: 80%;
    margin: 0 auto;
    display: block;
}
.url_forms {
    display: flex;
}
.footer {
    text-align: center;
    padding: 10px;
}